<div class='panel panel-info'>
    <div class="panel-heading">
        <h4 class="panel-title">App昨日数据</h4>
    </div>
    <div class='panel-body'>
        <div id="modal">
            <div class="modal-body">
                <form>
                    App: <select ng-model="yesapp" ng-options="yesapp.name for yesapp in yesapps"></select>
                    <button class="btn btn-primary" ng-click="loadYesterdayData(yesapp)">查询</button>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>总用户数</th>
                <th>新增用户</th>
                <th>活跃用户</th>
                <th>启动次数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{AppYesterdayData.installations}}</td>
                <td>{{AppYesterdayData.new_users}}</td>
                <td>{{AppYesterdayData.active_users}}</td>
                <td>{{AppYesterdayData.launches}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
