<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.business.carriersign.support.dao.CarrierQualificationDao">

    <!-- 资质申请主表 -->
    <resultMap id="CarrierQualificationMap" type="com.manyi.business.carriersign.bean.CarrierQualificationBean">
        <result column="id" property="id"/>
        <result column="UserName" property="userName"/>
        <result column="ReviewState" property="reviewState"/>
        <result column="CreateTime" property="createTime"/>
    </resultMap>

    <!-- 承运人资质申请附表 -->
    <resultMap id="CarrierPaperMap" type="com.manyi.business.carriersign.bean.CarrierPaperBean">
        <result column="id" property="id"/>
        <result column="CarrierQualificationID" property="carrierQualificationID"/>
        <result column="PaperType" property="paperType"/>
        <result column="FileName" property="fileName"/>
        <result column="FileUrl" property="fileUrl"/>
        <result column="FileState" property="fileState"/>
        <result column="FileOrder" property="fileOrder"/>
        <result column="UploadTime" property="uploadTime"/>
    </resultMap>

    <!-- 添加司机资质申请信息主表 -->
    <insert id="addQualification" parameterType="com.manyi.business.carriersign.bean.CarrierQualificationBean"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        t_CarrierQualification
        (userName,reviewState,createTime)
        values
        (#{userName},#{rewiewState},now())
    </insert>

    <!-- 添加司机资质申请信息附表 -->
    <insert id="addQualificationDetail" parameterType="com.manyi.business.carriersign.bean.CarrierPaperBean"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        t_CarrierPaper
        (CarrierQualificationID,PaperType,FileName,FileUrl,FileState,FileOrder,UploadTime)
        values
        (#{CarrierQualificationID},#{PaperType},#{FileName},#{FileUrl},#{FileState},#{FileOrder},now())
    </insert>

    <!-- 查询承运人资质申请信息 -->
    <select id="queryQualification" resultMap="CarrierQualificationMap">
        SELECT
        id,username,createtime,reviewstate,reviewtime,lastupdatetime
        FROM t_CarrierQualification
        <where>
        <if test="userName != null">
            AND username = #{userName}
        </if>
            <if test="createTime != null">
            AND DATE_FORMAT(CreateTime,'%Y-%m-%d') = #{createTime}
        </if>
        <if test="reviewState != null">
            AND reviewstate = #{reviewState}
        </if>
        </where>
    </select>

    <!-- 查询承运人资质申请信息 -->
    <select id="queryQualificationDetail" resultMap="CarrierPaperMap">
        SELECT
        id,CarrierQualificationID,PaperType,FileName,FileUrl,FileState,FileOrder,UploadTime
        FROM t_CarrierPaper
        <where>
            <if test="carrierQualificationID != null">
                AND CarrierQualificationID = #{carrierQualificationID}
            </if>
        </where>
    </select>

    <!-- 修改申请资质信息包括修改状态、编辑内容-->
    <update id="updateQualification" parameterType="com.manyi.business.carriersign.bean.CarrierQualificationBean">
        UPDATE
        t_CarrierQualification
        <set>
            <if test="ReviewState != null">reviewState = #{reviewState},</if>
            <if test="ReviewTime != null">ReviewTime = now(),</if>
            <if test="LastUpdateTime != null">LastUpdateTime = now(),</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除申请资质信息附件文件如上传的照片等-->
    <delete id="deleteQualificationPaper" parameterType="java.lang.Long">
        delete from t_CarrierPaper where id=#{id}
    </delete>

</mapper>