<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.business.etc.support.dao.EtcDao">



    <!-- 订单-->
    <resultMap id="EtcCountResultMap" type="com.manyi.business.etc.bean.EtcDescription">
        <result column="id" property="id"/>
        <result column="ETCCode" property="ETCCode"/>
        <result column="plateNum" property="plateNum"/>
    </resultMap>


    <!-- 订单-->
    <resultMap id="EtcItemResultMap" type="com.manyi.business.etc.bean.Etc">
        <result column="orderItemId" property="orderItemId"/>
        <result column="ETCCode" property="ETCCode"/>
        <result column="plateNum" property="plateNum"/>
        <result column="orderId" property="orderId"/>
        <result column="userId" property="userId"/>
        <result column="seqNo" property="seqNo"/>
        <result column="payableAmount" property="payableAmount"/>
        <result column="state" property="state"/>
    </resultMap>




    <!-- 创建ETC -->
    <insert id="addETC" parameterType="com.manyi.business.etc.bean.Etc"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        t_etc
        (ETCCode, plateNum, orderItemId)
        values
        (#{ETCCode},#{plateNum},#{orderItemId})
    </insert>




    <!-- 创建ETC发票 -->
    <insert id="addETCInvoice" parameterType="com.manyi.business.etc.bean.EtcInvoice"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        t_etcinvoice
        (invoiceHeader, amount, postAddress,phone,orderItemId,addressee)
        values
        (#{invoiceHeader},#{amount},#{postAddress},#{phone},#{orderItemId},#{addressee})
    </insert>


    <!-- 获取用户给ETC充值的数量 -->
    <select id="getETCCurrentCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM t_etccounter
        WHERE
        userId = #{userId}
        AND
        ETCCode = #{ETCCode}
    </select>


    <!-- 创建ETC预充值计数 -->
    <insert id="createETCCount" parameterType="com.manyi.business.etc.bean.Etc"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        t_etccounter
        (ETCCode, plateNum,num,userId)
        values
        (#{ETCCode},#{plateNum},1,#{userId})
    </insert>

    <!-- 修改计数-->
    <update id="addETCCount">
        UPDATE
        t_etccounter
        SET
        num = num +1
        WHERE
        userId = #{userId}
        AND
        ETCCode = #{ETCCode}
    </update>


    <!-- 获取订单对应的订单项-->
    <select id="queryUserEtcCount" resultMap="EtcCountResultMap">
        SELECT
        id, ETCCode, plateNum
        FROM t_etccounter
        WHERE
        userId = #{userId}
        ORDER BY num DESC
    </select>

    <!-- 获取订单对应的订单项-->
    <select id="queryEtcOrderItem"  resultType="com.manyi.business.etc.bean.Etc">
        SELECT
        id, ETCCode, plateNum
        FROM  t_etc
        WHERE
        orderItemId = #{orderItemId}
    </select>

    <delete id="deleteETC">
        DELETE FROM
        t_etc
        WHERE orderItemId = #{orderItemId}
    </delete>


    <delete id="deleteETCInvoice">
        DELETE FROM
        t_etcinvoice
        WHERE orderItemId = #{orderItemId}
    </delete>

    <!-- 获取订单对应的订单项-->
    <select id="queryETCChargeHistory"  resultType="com.manyi.business.etc.bean.EtcDescription">
        SELECT
        ETCCode, plateNum
        FROM  t_etccounter
        WHERE
        userId = #{userId}
        ORDER BY num DESC
    </select>


    <!-- 获取订单对应的订单项-->
    <select id="queryEtcItems"  resultMap="EtcItemResultMap">
        SELECT
        e.ETCCode,e.orderItemId, e.plateNum,o.orderId,o.userId,o.payableAmount,o.seqNo,o.state
        FROM  t_etc e ,t_orderitem o
        WHERE
        o.orderId = #{orderId}
        AND
        e.orderItemId=o.id
    </select>

</mapper>