<script type="text/javascript" src="static/components/bootstrap-validator/checkForm.js"></script>
<div id="modal">
    <div class="modal-header">
        <h3>添加资源</h3>
    </div>
    <div class="modal-body">
        <form id="myForm" class="form-horizontal">
            <div id="message" class="alert alert-info" ng-show="jsonResult.result == 'failure'">
                {{jsonResult.message}}
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">资源名称：&nbsp;<em
                        style="color: #c9302c">*</em></label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" name="name" ng-model="resource.name" placeholder="请输入资源名称"
                           class="input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2">资源代码：&nbsp;<em
                        style="color: #c9302c">*</em></label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-2" name="code" ng-model="resource.code" placeholder="请输入资源代码"
                           class="input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-3">资源链接：&nbsp;<em
                        style="color: #c9302c">*</em></label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="uri" ng-model="resource.uri" placeholder="请输入资源链接"
                           class="input-sm col-xs-9"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>