<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.usercenter.user.support.dao.UserDao">

    <!-- 基本用户返回值 -->
    <resultMap id="Result_User" type="com.manyi.usercenter.user.support.entity.BaseUser">
        <id column="ID" property="id"/>
        <result column="LoginName" property="loginName"/>
        <result column="Password" property="password"/>
        <result column="SecretKey" property="secretKey"/>
        <result column="Type" property="type"/>
        <result column="State" property="state"/>
    </resultMap>

    <!-- 平台用户返回值 -->
    <resultMap id="Result_PlatUser" type="com.manyi.usercenter.user.bean.PlatUser">
        <result column="LoginName" property="loginName"/>
        <result column="Password" property="passWord"/>
        <result column="SecretKey" property="secretKey"/>
        <result column="Type" property="type"/>
        <result column="State" property="state"/>
        <result column="UserId" property="userId"/>
        <result column="Name" property="name"/>
        <result column="Creator" property="creator"/>
        <result column="Createtime" property="createTime"/>
        <result column="Updatetime" property="updateTime"/>
    </resultMap>

    <!-- 司机用户返回值 -->
    <resultMap id="Result_Individual" type="com.manyi.usercenter.user.support.entity.Individual">
        <result column="id" property="id"/>
        <result column="State" property="State"/>
        <result column="CreateTime" property="createTime"/>
        <result column="LoginName" property="loginName"/>
        <result column="Password" property="passWord"/>
        <result column="SecretKey" property="secretKey"/>
        <result column="UserId" property="userId"/>
        <result column="UpdateTime" property="updateTime"/>
        <result column="DriverName" property="driverName"/>
        <result column="IdCardNo" property="idCardNo"/>
        <result column="Description" property="description"/>
        <result column="Sexual" property="sexual"/>
        <result column="Phone" property="phone"/>
        <result column="BirthDay" property="birthDay"/>
        <result column="HeadPic" property="headPic"/>
    </resultMap>

    <!-- 基础用户字段 -->
    <sql id="Base_User">
        t_user.id, LoginName, Password, SecretKey, Type, t_user.State, t_user.Createtime
    </sql>

    <!-- 平台用户字段关联基础用户表 -->
    <sql id="Relation_SysUser">
        t_sysuser.id, UserId, Name, Createtime, Creator, Updatetime,LoginName, Password, SecretKey, Type, State
    </sql>

    <!-- 平台用户字段 -->
    <sql id="Base_SysUser">
        t_sysuser.id, UserId, Updatetime, Creator
    </sql>

    <!-- 企业用户字段关联基础用户表 -->
    <sql id="Relation_Corporation">
        t_corporation.id, Name, Email, Remark, UserId, Phone, LegalPerson, NickName,
        LoginName, Password, SecretKey, Type, t_user.State
    </sql>

    <!-- 企业用户字段 -->
    <sql id="Base_Corporation">
        t_corporation.id, Name, Email, Remark, UserId, Phone, LegalPerson, NickName
    </sql>

    <!-- 司机用户字段关联基础用户表 -->
    <sql id="Relation_Individual">
        t_individual.id,LoginName,Type, UserId, Updatetime, DriverName, IdCardNo, Description,State,CreateTime,
        Sexual,Phone,BirthDay,HeadPic
    </sql>


    <!-- 通过用户名查询用户 -->
    <select id="getUserByName" parameterType="String" resultMap="Result_User">
        SELECT
        <include refid="Base_User"/>
        from t_user
        WHERE LoginName = #{username}
    </select>

    <!-- 查询所有的平台用户 -->
    <select id="queryAllSysUsers" resultMap="Result_PlatUser">
        SELECT
        <include refid="Relation_SysUser"/>
        from t_sysuser
        LEFT JOIN t_user on
        t_sysuser.UserId = t_user.id
    </select>

    <!-- 创建基础用户 -->
    <insert id="createUser" parameterType="com.manyi.usercenter.user.bean.PlatUser" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            LoginName, Password, SecretKey, Type, State, Createtime,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{loginName}, #{password}, #{secretKey}, #{type}, #{state}, now(),
        </trim>
    </insert>

    <!-- 创建平台用户 -->
    <insert id="createSysUser" parameterType="com.manyi.usercenter.user.support.entity.SysUser">
        INSERT INTO
        t_sysuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            userId, Name, Updatetime, creator,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId}, #{name}, now(), #{creator},
        </trim>
    </insert>

    <!-- 修改平台用户状态 -->
    <update id="updateSysUserStatus">
        UPDATE
          t_user
        SET
          State = #{state}
        WHERE
          id = #{userId}
    </update>

    <!-- 修改平台用户名称 -->
    <update id="updateSysUserName">
        UPDATE
          t_sysuser
        SET
          Name = #{name}
        WHERE
          id = #{userId}
    </update>

    <!-- 删除基本用户 -->
    <delete id="deleteUser" parameterType="long">
        DELETE FROM
          t_user
        WHERE
          id = #{id}
    </delete>

    <!-- 删除平台用户 -->
    <delete id="deleteSysUser" parameterType="long">
        DELETE FROM
          t_sysuser
        WHERE
          userId = #{userId}
    </delete>

    <!-- 个体用户注册 -->
    <insert id="createIndividual" parameterType="com.manyi.usercenter.user.support.entity.Individual" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          t_individual
        <trim prefix="(" suffix=")" suffixOverrides=",">
            UserId
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId}
        </trim>
    </insert>

    <!-- 司机用户修改信息 -->
    <update id="updateIndividual" parameterType="com.manyi.usercenter.user.support.entity.Individual">
        UPDATE
          t_individual
        <set>
            Updatetime = now(),
            <if test="driverName != null">DriverName = #{driverName},</if>
            <if test="idCardNo != null">IdCardNo = #{idCardNo},</if>
            <if test="sexual != null">Sexual = #{sexual},</if>
            <if test="phone != null">Phone = #{phone},</if>
            <if test="birthDay != null">BirthDay = #{birthDay},</if>
            <if test="headPic != null">HeadPic = #{headPic},</if>
            <if test="phone != null">Phone = #{phone},</if>
            <if test="description != null">Description = #{description},</if>
        </set>
        WHERE
          UserId = #{userId}
    </update>

    <!-- 查询司机用户 -->
    <select id="getIndividual" resultMap="Result_Individual">
        SELECT
        <include refid="Relation_Individual"/>
        from t_user,t_individual WHERE t_user.LoginName=#{loginName} AND t_user.id=t_individual.UserId
    </select>

    <!-- 企业用户注册 -->
    <insert id="createCorporater" parameterType="com.manyi.usercenter.user.support.entity.Corporation">
        INSERT INTO
          t_corporation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            UserId
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId}
        </trim>
    </insert>

    <!-- 企业用户修改个人信息 -->
    <update id="updateCorporater" parameterType="com.manyi.usercenter.user.support.entity.Corporation">
        UPDATE
            t_corporation
        <set>
            <if test="name != null">Name = #{name},</if>
            <if test="nickName != null">NickName = #{nickName},</if>
            <if test="email != null">Email = #{email},</if>
            <if test="remark != null">Remark = #{remark},</if>
            <if test="phone != null">Phone = #{phone},</if>
            <if test="legalPerson != null">LegalPerson = #{legalPerson},</if>
        </set>
        WHERE
            UserId = #{userId}
    </update>

    <!-- 根据Id获取当前基础用户信息 -->
    <select id="getBaseUserById" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_User"/>
        FROM t_user
        WHERE
          id = #{id}
    </select>

    <!-- 根据Id获取司机用户信息 -->
    <select id="getIndividualById" parameterType="java.lang.Long" resultMap="Result_Individual">
        SELECT
        <include refid="Relation_Individual"/>
        from t_user,t_individual WHERE t_user.id=#{id} AND t_user.id=t_individual.UserId
    </select>

    <!-- 用户密码修改 -->
    <update id="updatePassword" parameterType="com.manyi.usercenter.user.support.entity.BaseUser">
        UPDATE
          t_user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="secretKey != null">secretKey = #{secretKey},</if>
        </set>
        WHERE
          LoginName = #{loginName}
    </update>

    <!-- 根据用户名查询角色 -->
    <select id="findRoles" resultType="String">
        SELECT
        name
        from t_role role ,t_userrole ur,t_user u
        WHERE loginname=#{name} AND u.id=ur.userid AND ur.roleid=role.id
    </select>

    <!-- 根据用用户角色查询权限 -->
    <select id="findPermissions" resultType="String">
        SELECT
        p.name
        from t_role role ,t_roleperm rp,t_permission p
        WHERE role.name=#{name} AND role.id=rp.roleid AND rp.permid=p.id
    </select>


    <!-- 增加车辆信息 -->
    <insert id="addVehicle" parameterType="com.manyi.usercenter.user.bean.VehicleBean">
        INSERT INTO
        t_vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            UserId,PlateNo,VehicleBrand,LoadHeight,AxlesNum,PlateLength,PlateType,LuCard,OilWear,CreateTime
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId},#{plateNo},#{vehicleBrand},#{loadHeight},#{axlesNum},#{plateLength},#{plateType},#{luCard},#{oilWear},now()
        </trim>
    </insert>
</mapper>