<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.point.support.dao.ExpDao">


    <!-- 基础字段 -->

    <sql id="EXP_BASE">
        id, dimensionCode, preferentialCode, exp, dateLimit, startDate,  endDate,   comments
    </sql>
    <!--&lt;!&ndash; 获取级别列表 &ndash;&gt;-->
    <!--<select id="getExpList" resultMap="ExpResultMap">-->
        <!--SELECT-->
        <!--<include refid="EXP_BASE"/>-->
        <!--FROM smp_v1_dimensionexp-->
        <!--WHERE-->
        <!--dimensionCode = #{code}-->
    <!--</select>-->

    <!-- 基础字段 -->

    <sql id="EVENT_BASE">
        id, EventCode, Type, Description, exp, datelimit,startDate,  endDate,   frequency,time
    </sql>
    <!-- 获取级别列表 -->
    <select id="getPointEventByCode" resultType="com.manyi.point.bean.PointEvent">
        SELECT
        <include refid="EVENT_BASE"/>
        FROM t_pointevent
        WHERE
        EventCode = #{eventCode}
    </select>

</mapper>