<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.common.message.support.dao.MessageDao">

    <resultMap id="Result_IdentificationCode" type="com.manyi.common.message.bean.IdentificationCode">
        <id column="ID" property="id"/>
        <result column="CREATETIME" property="createTime"/>
        <result column="EXPIREDTIME" property="expiredTime"/>
        <result column="STATE" property="state"/>
        <result column="CODE" property="code"/>
        <result column="TYPE" property="type"/>
        <result column="MOBILE" property="mobile"/>
    </resultMap>

    <resultMap id="Result_MessageSend" type="com.manyi.common.message.bean.MessageSend">
        <id column="ID" property="id"/>
        <result column="USERID" property="userId"/>
        <result column="CREATETIME" property="createTime"/>
        <result column="STATE" property="state"/>
        <result column="CONTENT" property="content"/>
        <result column="SENDTIME" property="sendTime"/>
        <result column="MOBILE" property="mobile"/>
        <result column="TYPE" property="type"/>
    </resultMap>

    <resultMap id="Result_MessageTemplate" type="com.manyi.common.message.bean.MessageTemplate">
        <id column="ID" property="id"/>
        <result column="TEMPLATEID" property="templateId"/>
        <result column="CREATETIME" property="createTime"/>
        <result column="STATE" property="state"/>
        <result column="CONTENT" property="content"/>
        <result column="EXPIREDTIME" property="expiredTime"/>
        <result column="TYPE" property="type"/>
    </resultMap>

    <!-- 查询短信验证码参数 -->
    <parameterMap id="Param_IdentificationCode" type="com.manyi.common.message.bean.IdentificationCode">
        <parameter property="id"/>
        <parameter property="createTime"/>
        <parameter property="expiredTime"/>
        <parameter property="code"/>
        <parameter property="state"/>
        <parameter property="type"/>
        <parameter property="mobile"/>
        <parameter property="activeTime"/>
    </parameterMap>

    <!-- 保存短信的请求参数 -->
    <parameterMap id="Param_MessageSend" type="com.manyi.common.message.bean.MessageSend">
        <parameter property="id"/>
        <parameter property="userId"/>
        <parameter property="createTime"/>
        <parameter property="content"/>
        <parameter property="state"/>
        <parameter property="mobile"/>
        <parameter property="type"/>
        <parameter property="sendTime"/>
    </parameterMap>

    <!-- 保存验证码 -->
    <insert id="saveIdentificationCode" parameterMap="Param_IdentificationCode">
        INSERT INTO
        t_MessageCode
        (CREATETIME,EXPIREDTIME,STATE,CODE,TYPE,MOBILE)
        VALUES
        (NOW(), DATE_ADD(NOW(),INTERVAL #{activeTime} SECOND) ,#{state},#{code},#{type},#{mobile})
    </insert>

    <!-- 根据手机号查询验证码g -->
    <select id="queryIdentificationCode" resultMap="Result_IdentificationCode" parameterMap="Param_IdentificationCode">
        SELECT
        ID,CREATETIME,EXPIREDTIME,STATE,CODE,TYPE,MOBILE
        FROM t_MessageCode WHERE MOBILE=#{mobile} AND TYPE =#{type} AND EXPIREDTIME> NOW() ORDER BY CREATETIME DESC limit 1
    </select>

    <!-- 根据模板id查询短信模板 -->
    <select id="queryTemplate" resultMap="Result_MessageTemplate" parameterType="java.lang.String">
        SELECT
        ID,TEMPLATEID,CREATETIME,STATE,CONTENT,EXPIREDTIME,TYPE
        FROM t_MessageTemplate WHERE TEMPLATEID=#{templateId}  AND EXPIREDTIME> NOW()
    </select>

    <!-- 查询短信 -->
    <select id="queryMessage" resultMap="Result_MessageSend" parameterMap="Param_MessageSend">
        SELECT
        ID,USERID,CREATETIME,STATE,CONTENT,SENDTIME,TYPE,MOBILE
        FROM t_Message WHERE 1=1
        <if test="id != null">AND ID=#{id}</if>
        <if test="mobile != null">AND MOBILE=#{mobile}</if>
        <if test="userId != null">AND USERID =#{userId}</if>
        <if test="type != null">AND TYPE =#{type}</if>
        <if test="state != null">AND STATE =#{state}</if>
    </select>

    <!-- 查询未发送短信 -->
    <select id="queryUnsentMessage" resultMap="Result_MessageSend">
        SELECT
        ID,USERID,CREATETIME,STATE,CONTENT,SENDTIME,TYPE,MOBILE
        FROM t_Message WHERE    STATE = 'unsent'  AND to_days(CREATETIME) = to_days(now()) ORDER BY CREATETIME
    </select>

    <!-- 更新短信 -->
    <select id="updateMessage" parameterMap="Param_MessageSend">
        UPDATE t_Message SET SENDTIME = #{sendTime},STATE='sent'
        WHERE 1=1
        <if test="id != null">AND ID=#{id}</if>
        <if test="mobile != null">AND MOBILE=#{mobile}</if>
        <if test="userId != null">AND USERID =#{userId}</if>
        <if test="state != null">AND STATE =#{state}</if>
        <if test="type != null">AND TYPE =#{type}</if>
    </select>

    <!-- 保存短信 -->
    <insert id="saveMessage" parameterMap="Param_MessageSend">
        INSERT INTO
        t_Message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">USERID,</if>
            <if test="content != null">CONTENT,</if>
            <if test="state != null">STATE,</if>
            <if test="mobile != null">MOBILE,</if>
            <if test="type != null">TYPE,</if>
            <if test="sendTime != null">SENDTIME,</if>
            CREATETIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="state != null">#{state},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="type != null">#{type},</if>
            <if test="sendTime != null">#{sendTime},</if>
            #{createTime}
        </trim>
    </insert>

</mapper>