<div class='panel panel-info'>
    <div class="panel-heading">
        <h4 class="panel-title">角色管理</h4>

        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="addRole()"><span class="badge">创建角色</span></a>
        </div>
    </div>
    <div id="message" class="alert alert-success" ng-show="jsonResult">
        {{jsonResult.message}}
    </div>
    <div class='panel-body'>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>id</th>
                <th>角色名称</th>
                <th>角色代码</th>
                <th>角色描述</th>
                <th>角色状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='role in sysRole'>
                <td>{{$index+1}}</td>
                <td>{{role.roleName}}</td>
                <td>{{role.code}}</td>
                <td>{{role.description}}</td>
                <td ng-switch on="role.status">
                    <span style="color: green" ng-switch-when="E">可用</span>
                    <span style="color: red" ng-switch-when="D">不可用</span>
                </td>
                <td>
                    <div class='btn-group'>
                        <a class='btn btn-mini dropdown-toggle' data-toggle='dropdown'
                           href='javascript:void(0);'> <i class='glyphicon glyphicon-list'></i> <span
                                class='caret'></span>
                        </a>
                        <ul class='dropdown-menu pull-right'>
                            <li>
                                <a href="javascript:void(0);" ng-click="editRole($index)">
                                    <i class='glyphicon glyphicon-wrench'></i> 修改
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="deleteColumn(role.id)">
                                    <i class='glyphicon glyphicon-trash'></i> 删除
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="addAuthorization($index)">
                                    <i class='glyphicon glyphicon-credit-card'></i> 授权
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>