<script type="text/javascript" src="static/javascript/checkEditUser.js"></script>
<div id="modal">
    <div class="modal-header">
        <h3>修改用户</h3>
    </div>
    <div class="modal-body">
        <form id="userForm" class="form-horizontal">
            <div id="message" class="alert alert-success" ng-show="jsonResult.result == 'failure'">
                {{jsonResult.message}}
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户昵称：</label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-1" name="nickName" ng-model="user.nickName" required
                           placeholder="userName" class="input-sm"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2">用户年龄：</label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-2" name="age" ng-model="user.age" required placeholder="age"
                           class="input-sm">
                    <span>岁</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-3">用户邮箱：</label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="email" ng-model="user.email" required placeholder="email"
                           class="input-sm col-xs-9">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-4">用户电话：</label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-4" name="phone" ng-model="user.phone" required placeholder="phone"
                           class="input-sm">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>