<div class='panel panel-info'>
    <div class="panel-heading">
        <h4 class="panel-title">评价策略管理</h4>

        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="addScoreStrategy()"><span class="badge">新增评价策略</span></a>
        </div>
    </div>
    <div id="message" class="alert alert-success" ng-show="jsonResult">
        {{jsonResult.message}}
    </div>
    <div class='panel-body'>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>id</th>
                <th>策略编号</th>
                <th>分制</th>
                <th>策略名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='scoreStrategy in sysScoreStrategy'>
                <td>{{$index+1}}</td>
                <td>{{scoreStrategy.gradeStrategyID}}</td>
                <td>{{scoreStrategy.scoreRule}}</td>
                <td>{{scoreStrategy.gradeStrategyName}}</td>
                <td>
                    <div class='btn-group'>
                        <a class='btn btn-mini dropdown-toggle' data-toggle='dropdown'
                           href='javascript:void(0);'> <i class='glyphicon glyphicon-list'></i> <span
                                class='caret'></span>
                        </a>
                        <ul class='dropdown-menu pull-right'>
                            <li>
                                <a href="javascript:void(0);" ng-click="editScoreStrategy($index)">
                                    <i class='glyphicon glyphicon-wrench'></i> 修改
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="deleteColumn($index)">
                                    <i class='glyphicon glyphicon-trash'></i> 删除
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
