<div class='panel panel-info'>
    <div class="panel-heading">
        <h4 class="panel-title">评价策略修改</h4>
    </div>
    <div id="message" class="alert alert-success" ng-show="jsonResult">
        {{jsonResult.message}}
    </div>
    <div class='panel-body'>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>策略名称</td><td><input type="text" id="form-field-1" name="gradeStrategyName" ng-model="currentScoreStrategy.gradeStrategyName" required placeholder="gradeStrategyName"
                                        class="input-sm"></td>
            </tr>
            <tr>
                <td>分制</td><td><input type="text" id="form-field-2" name="scoreRule" ng-model="currentScoreStrategy.scoreRule" required placeholder="scoreRule"
                                        class="input-sm"></td>
            </tr>

            <tr ng-repeat='scoreStrategy in itemList'>
                <td>{{$index+1}}</td>
                <td> <input type="text" id="form-field-3" name="name" ng-model="scoreStrategy.name" required placeholder="name"
                            class="input-sm col-xs-9"></td>
                <td> <input type="text" id="form-field-4" name="weight" ng-model="scoreStrategy.weight" required placeholder="weight"
                            class="input-sm col-xs-9"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">提交评价</button>
    <button class="btn btn-warning" ng-click="cancel()">返回</button>
</div>
